<?xml version="1.0"?>

<main>
    <dbtype></dbtype> <!-- mssql/mysql -->
    <dbHost></dbHost> <!-- host ip / name-->
    <dbUser></dbUser> <!-- user -->
    <dbPass></dbPass> <!-- password -->
    <dbBase></dbBase> <!-- database name -->
    <dbPort></dbPort> <!-- port -->
    <loadMode></loadMode> <!-- insert / update -->
    <dict></dict> <!-- true/ false -->
    <checkMode></checkMode> <!-- true/false -->

    <importXml> <!-- configure source excel file -->
        <path></path> <!-- Excel file name.xlsx -->
        <sheetNumber></sheetNumber> <!-- List number in excel [1... ] -->

        <columns>

            <column>
                <colName></colName> <!-- column name in excel -->
                <colNameDb></colNameDb> <!-- colum name in db -->
                <colType></colType> <!-- str / int / float -->
                <isPK></isPK> <!-- true/ false -->
                <cropEnd mode="false"></cropEnd> <!-- <cropEnd mode="true/ false">value</cropEnd> -->
                <addValueEnd mode="false"></addValueEnd> <!-- <addValueEnd mode="true/ false">value</addValueEnd> -->
                <takeFromBegin mode="false"></takeFromBegin> <!-- <takeFromBegin mode="true/ false">value</takeFromBegin> -->
                <cropBegin mode="false"></cropBegin> <!-- <cropBegin mode="true/ false">value</cropBegin> -->
                <addValueBegin mode="false"></addValueBegin> <!-- <addValueBegin mode="true/ false">value,value</addValueBegin> -->
                <addValueBoth mode="false"></addValueBoth> <!-- <addValueBoth mode="true/ false">value</addValueBoth> -->
                <replace mode="true">                    <!-- <replace mode="true/ false">value</replace> -->

                    <replaceVal>
                        <value></value>                     <!--value-->
                        <toValue></toValue>                 <!--value-->
                    </replaceVal>

                    <!--...-->

                </replace>
                <filter mode="true">
                    <filterVal>
                        <filterMode></filterMode>      <!-- != = > < <= >= -->
                        <filterValue></filterValue>    <!-- value -->
                    </filterVal>

                    <!-- ...  -->

                </filter>
                <post-filter mode="true">
                    <postfilterVal>
                        <filterMode></filterMode>      <!-- != = > < <= >= -->
                        <filterValue></filterValue>    <!-- value -->
                    </postfilterVal>

                    <!-- ...  -->

                </post-filter>
            </column>

        <!--<column>-->
            <!--...-->
        <!--</column>-->
        <!--...-->
        <!--<column>-->
            <!--...-->
        <!--</column>-->


        </columns>


        <linkedColumns mode="true"> <!-- <linkedColumns mode="true / false"> -->
        <!--only for check mode-->
            <pathToLinkFile></pathToLinkFile> <!-- excel file name.xlsx -->
            <linkedFileSheetNumber></linkedFileSheetNumber> <!-- List number in excel [1... ] -->
            <both></both>                                   <!-- true / false -->

            <column>
                <linkedColName></linkedColName> <!-- column name in excel file to compare -->
                <colNameInSource></colNameInSource> <!-- column name in source excel -->
            </column>

        <!--<column>-->
            <!--...-->
        <!--</column>-->
        <!--...-->
        <!--<column>-->
            <!--...-->
        <!--</column>-->

        </linkedColumns>

        <withDict mode="true"> <!-- true/ false" -->

            <tables>

                <table>
                    <dictTableName></dictTableName> <!-- table name in data base -->
                    <indxDbColumn></indxDbColumn> <!-- index column name in receiver -->
                    <indxColumnDic></indxColumnDic> <!-- index column name in dictionary -->

                        <columns>

                            <column>
                                <colName></colName> <!-- column name in excel -->
                                <colNameDb></colNameDb> <!-- colum name in db -->
                                <colType></colType> <!-- str / int / float -->
                                <cropEnd mode="false"></cropEnd> <!-- <cropEnd mode="true/ false">value</cropEnd> -->
                                <addValueEnd mode="false"></addValueEnd> <!-- <addValueEnd mode="true/ false">value</addValueEnd> -->
                                <takeFromBegin mode="false"></takeFromBegin> <!-- <takeFromBegin mode="true/ false">value</takeFromBegin> -->
                                <cropBegin mode="false"></cropBegin> <!-- <cropBegin mode="true/ false">value</cropBegin> -->
                                <addValueBegin mode="false"></addValueBegin> <!-- <addValueBegin mode="true/ false">value</addValueBegin> -->
                                <addValueBoth mode="false"></addValueBoth> <!-- <addValueBoth mode="true/ false">value</addValueBoth> -->
                                <replace mode="false">                    <!-- <replace mode="true/ false">value</replace> -->

                                <replaceVal>
                                    <value></value>                     <!--value-->
                                    <toValue></toValue>                 <!--value-->
                                </replaceVal>

                                <!--...-->

                                </replace>
                            </column>

                        <!--<column>-->
                        <!--...-->
                        <!--</column>-->
                        <!--...-->
                        <!--<column>-->
                        <!--...-->
                        <!--</column>-->

                        </columns>
                </table>

            <!--<table></table>-->
            <!---->
            <!--...-->
            <!---->
            <!--<table></table>-->


            </tables>
        </withDict>

    </importXml>

    <exportTable> <!-- configure receiver data base columns -->
        <path></path>            <!-- receiver data base table name [dbo].[name] -->

        <columns>

            <column>
                <name></name>                                <!-- column name in database -->
                <fromExcel></fromExcel>                  <!-- true/ false -->
                <fromDb></fromDb>                       <!-- true/ false -->
                <isAutoInc></isAutoInc>                 <!-- true/ false -->
                <isConc></isConc>                       <!-- true/ false -->
                <defaultValue mode="false"></defaultValue>   <!-- <defaultValue mode="false/tue">value</defaultValue> -->
                <colType></colType>                       <!-- str / int -->
                <isUpdateCondition></isUpdateCondition> <!-- true/ false -->
                <ifNull mode="false"></ifNull>               <!-- mode =  true/ false -->
            </column>

        <!--<column>-->
        <!--...-->
        <!--</column>-->
        <!--...-->
        <!--<column>-->
        <!--...-->
        <!--</column>-->

        </columns>
    </exportTable>
</main>

<!-- -->